$BodyBackgroundColor:#dcbb9a;
$ContentBackgroundColor:#ffffff;
$HedingsColor:#893c00;
$TableHedingBackgroundColor:#e0e0e0;
$LinksColor:#3d70a1;
$BrifBackgroundColor: #fadcba;
$TextColor:000000;
$FormTitelColor: #808080;
$BriefWidth: 40%;
$TextTrans: none;
$TableBackColor: $ContentBackgroundColor;
$BrifMargin: 0;