$BodyBackgroundColor:rgba(198, 238, 252, 0.53);
$ContentBackgroundColor:#3b3b3b;
$HedingsColor:#fccd10;
$TableHedingBackgroundColor:#94a34e;
$LinksColor:#f5c70f;
$BrifBackgroundColor: #fff178;
$TextColor:#ffffff;
$FormTitelColor: $LinksColor;
$BriefWidth: 96%;
$TextTrans: uppercase;
$TableBackColor: #677d01;
$BrifMargin:35px;